<!DOCTYPE html>
<html ng-app="projectApp">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <style>
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #dff0d8;
}
    </style>
</head>
<body ng-controller="uiCtrl">

<script type="text/ng-template" id="cancel_replace_form.html">
    <form style="margin: 10px" class="form-horizontal" novalidate role="form">
        <div class="form-group">
            <label>Price</label>
            <input class="form-control input-sm" type="number" ng-model="cancel_replace_model.price" />
        </div>
        <div class="form-group">
            <label>Size</label>
            <input class="form-control input-sm" type="number" ng-model="cancel_replace_model.quantity" />
        </div>
        <button type="button"
                class="btn btn-success"
                onclick="$('#cancel_replace_form').popover('hide');"
                ng-click="cancelReplaceOrder(o)">Submit</button>
    </form>
</script>

<script type="text/ng-template" id="order_form.html">
    <form style="margin: 20px" class="form-horizontal" novalidate role="form">
        <div class="form-group">
            <label>Exchange</label>
            <select class="form-control input-sm" ng-model="order.exchange" ng-options="v for (k,v) in availableExchanges"></select>
        </div>
        <div class="form-group">
            <label>Side</label>
            <select class="form-control input-sm" ng-model="order.side" ng-options="v for (k,v) in availableSides"></select>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control input-sm" type="number" ng-model="order.price" />
        </div>
        <div class="form-group">
            <label>Size</label>
            <input class="form-control input-sm" type="number" ng-model="order.quantity" />
        </div>
        <div class="form-group">
            <label>TIF</label>
            <select class="form-control input-sm" ng-model="order.timeInForce" ng-options="v for (k,v) in availableTifs"></select>
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control input-sm" ng-model="order.orderType" ng-options="v for (k,v) in availableOrderTypes"></select>
        </div>
        <button type="button"
                class="btn btn-success"
                onclick="$('#order_form').popover('hide');"
                ng-click="submitOrder()">Submit</button>
    </form>
</script>

<button type="button"
        class="btn btn-primary"
        style="float: right"
        id="order_form"
        mypopover popover-template="order_form.html"
        data-placement="bottom">Submit order</button>

<p>
    Connection: {{ connected }}
</p>

<p ng-repeat="(exch, book) in books">
    <b>{{ exch }}</b>: {{ book.bidSize|number:2 }} {{ book.bidPrice|number:2 }} X {{ book.askPrice|number:2 }} {{ book.askSize|number:2 }}
</p>

<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>orderId</th>
        <th>time</th>
        <th>exchange</th>
        <th>orderStatus</th>
        <th>price</th>
        <th>quantity</th>
        <th>side</th>
        <th>type</th>
        <th>tif</th>
        <th>lastQuantity</th>
        <th>lastPrice</th>
        <th>leavesQuantity</th>
        <th>cumQuantity</th>
        <th>averagePrice</th>
        <th>liquidity</th>
        <th>msg</th>
        <th>cxl</th>
        <th>c-r</th>
    </tr>
    <tr ng-repeat="o in orders_statuses|orderBy:'-time'">
        <td>{{ o.orderId }}</td>
        <td>{{ o.time|date:'M/d/yy h:mm:ss,sss' }}</td>
        <td>{{ availableExchanges[o.exchange] }}</td>
        <td>{{ availableOrderStatuses[o.orderStatus] }}</td>
        <td>{{ o.price|number:2 }}</td>
        <td>{{ o.quantity|number:4 }}</td>
        <td>{{ availableSides[o.side] }}</td>
        <td>{{ availableOrderTypes[o.type] }}</td>
        <td>{{ availableTifs[o.timeInForce] }}</td>
        <td>{{ o.lastQuantity|number:4 }}</td>
        <td>{{ o.lastPrice|number:2 }}</td>
        <td>{{ o.leavesQuantity|number:4 }}</td>
        <td>{{ o.cumQuantity|number:4 }}</td>
        <td>{{ o.averagePrice|number:2 }}</td>
        <td>{{ availableLiquidityTypes[o.liquidity]}}</td>
        <td>{{ o.rejectMessage || o.message }}</td>
        <td><button type="button"
                    class="btn btn-danger btn-xs"
                    ng-click="cancelOrder(o)"><span class="glyphicon glyphicon-remove"></span></button></td>
        <td><button type="button"
                    class="btn btn-warning btn-xs"
                    mypopover popover-template="cancel_replace_form.html"
                    id="cancel_replace_form"
                    data-placement="left"><span class="glyphicon glyphicon-refresh"></span></button></td>
    </tr>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
<script src="//cdn.socket.io/socket.io-1.1.0.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
    angular.module('projectApp', ['ui.bootstrap'])
            .directive('mypopover', function ($compile, $templateCache) {
                var getTemplate = function (contentType, template_url) {
                    var template = '';
                    switch (contentType) {
                        case 'user':
                            template = $templateCache.get(template_url);
                            break;
                    }
                    return template;
                };
                return {
                    restrict: "A",
                    link: function (scope, element, attrs) {
                        var popOverContent = $compile("<div>" + getTemplate("user", attrs.popoverTemplate) + "</div>")(scope);
                        var options = {
                            content: popOverContent,
                            placement: attrs.dataPlacement,
                            html: true,
                            date: scope.date
                        };
                        $(element).popover(options).click(function (e) {
                            e.preventDefault();
                        });
                    }
                };
            });

    var uiCtrl = function($scope, $timeout, $log) {
        $scope.connected = false;
        $scope.books = {};
        $scope.orders_statuses = [];

        var refresh_timer = function () {
            $timeout(refresh_timer, 250);
        };
        $timeout(refresh_timer, 250);

        var socket = io();
        socket.on("hello", function() {
            $scope.connected = true;
            $log.info("connected");
        }).on("disconnect", function() {
            $scope.connected = false;
            $log.warn("disconnected");
        }).on("market-book", function(b) {
             $scope.books[b.exchangeName] = b;
        }).on('order-options', function(o) {
            angular.forEach(o, function(vals, key) {
                $scope[key] = vals;
            });
        }).on('order-status-report', function(o) {
            $scope.orders_statuses.push(o);
        });

        $scope.order = {};
        $scope.submitOrder = function() {
            socket.emit("submit-order", $scope.order);
        };

        $scope.cancel_replace_model = {};
        $scope.cancelReplaceOrder = function(orig) {
            console.log(orig, $scope.cancel_replace_model);
            socket.emit("cancel-replace", orig, $scope.cancel_replace_model);
        };

        $scope.cancelOrder = function(order) {
            socket.emit("cancel-order", order);
        };

        $log.info("started");
    };

</script>

</body>
</html>