<div ng-controller="ExchangesController">
    <div style="padding: 5px; border: 1px solid #d3d3d3"
         ng-repeat="exch in exchanges"
         ng-class="exch.connected ? 'bg-success img-rounded' : 'bg-danger img-rounded'">
        <p><b>{{ exch.name }}</b> :: USD: {{ exch.usdPosition|currency:undefined:3 }}, BTC: {{ exch.btcPosition|currency:"B":3 }}, LTC: {{ exch.ltcPosition|currency:"B":3 }}</p>

        <div class="row" ng-repeat="pair in exch.pairs">
            <div class="col-md-1 center-block">
                <button ng-class="pair.active ? 'btn btn-success' : 'btn btn-danger'"
                        ng-click="pair.changeActive()">
                    {{ pair.name }}
                </button>
            </div>

            <div class="col-md-7">
                <table class="table table-bordered table-condensed container">
                    <tr class="active row">
                        <th>bidAct</th>
                        <th>qBz</th>
                        <th>qB</th>
                        <th>bidSz</th>
                        <th>bidPx</th>
                        <th>FV</th>
                        <th>askPx</th>
                        <th>askSz</th>
                        <th>qA</th>
                        <th>qAz</th>
                        <th>askAct</th>
                    </tr>
                    <tr class="active row">
                        <td>{{ pair.bidAction }}</td>
                        <td>{{ pair.qBidSz|number:2 }}</td>
                        <td>{{ pair.qBidPx|number:2 }}</td>
                        <td>{{ pair.bidSize|number:2 }}</td>
                        <td>{{ pair.bid|number:2 }}</td>
                        <td>{{ pair.fairValue|number:2 }}</td>
                        <td>{{ pair.ask|number:2 }}</td>
                        <td>{{ pair.askSize|number:2 }}</td>
                        <td>{{ pair.qAskPx|number:2 }}</td>
                        <td>{{ pair.qAskSz|number:2 }}</td>
                        <td>{{ pair.askAction }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-2">
                <form class="form-horizontal" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">width</div>
                            <input ng-class="pair.quotingParameters.pending ? 'has-warning form-control input-sm' : 'has-success form-control input-sm'"
                                   type="number"
                                   style="width: 90px"
                                   onClick="this.select()"
                                   ng-model="pair.quotingParameters.display.width">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">size</div>
                            <input ng-class="pair.quotingParameters.pending ? 'has-warning form-control input-sm' : 'has-success form-control input-sm'"
                                   type="number"
                                   style="width: 90px"
                                   onClick="this.select()"
                                   ng-model="pair.quotingParameters.display.size">
                        </div>
                    </div>

                    <input class="btn btn-default btn-xs" type="button" ng-click="pair.quotingParameters.reset()" value="Reset" />
                    <input class="btn btn-default btn-xs" type="submit" ng-click="pair.quotingParameters.submit()" value="Save" />
                </form>
            </div>

            <div class="col-md-2">
                <form class="form-horizontal" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">t/sec</div>
                            <input ng-class="pair.safetySettings.pending ? 'has-warning form-control input-sm' : 'has-success form-control input-sm'"
                                   style="width: 90px"
                                   type="number"
                                   onClick="this.select()"
                                   ng-model="pair.safetySettings.display.tradesPerMinute">
                        </div>
                    </div>

                    <input class="btn btn-default btn-xs" type="button" ng-click="pair.safetySettings.reset()" value="Reset" />
                    <input class="btn btn-default btn-xs" type="submit" ng-click="pair.safetySettings.submit()" value="Save" />
                </form>
            </div>

        </div>
    </div>
</div>