<!DOCTYPE html>
<html ng-controller="uiCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css">

    <style>
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #dff0d8;
}
    </style>

     <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js" data-main="require-config.js"></script>

    <title>tribeca [{{ env }}]</title>
</head>
<body>

    <script type="text/ng-template" id="order_form.html">
        <form style="margin: 20px" class="form-horizontal" novalidate role="form">
            <div class="form-group">
                <label>Exchange</label>
                <select class="form-control input-sm" ng-model="order.exchange" ng-options="x for x in order.availableExchanges"></select>
            </div>
            <div class="form-group">
                <label>Side</label>
                <select class="form-control input-sm" ng-model="order.side" ng-options="x for x in order.availableSides"></select>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control input-sm" type="number" ng-model="order.price" />
            </div>
            <div class="form-group">
                <label>Size</label>
                <input class="form-control input-sm" type="number" ng-model="order.quantity" />
            </div>
            <div class="form-group">
                <label>TIF</label>
                <select class="form-control input-sm" ng-model="order.timeInForce" ng-options="x for x in order.availableTifs"></select>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control input-sm" ng-model="order.orderType" ng-options="x for x in order.availableOrderTypes"></select>
            </div>
            <button type="button"
                    class="btn btn-success"
                    onclick="$('#order_form').popover('hide');"
                    ng-click="submitOrder()">Submit</button>
        </form>
    </script>

    <div ng-if="!connected">
        Not connected
    </div>

    <div ng-if="connected">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">tribeca</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button"
                                class="btn btn-primary navbar-btn"
                                id="order_form"
                                mypopover popover-template="order_form.html"
                                data-placement="bottom">Submit order
                        </button>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <exchanges></exchanges>

            <div class="row">
                <order-list></order-list>
            </div>
        </div>
    </div>
</body>
</html>