<!DOCTYPE html>
<html ng-controller="uiCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css">

     <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js" data-main="/js/admin/require-config.js"></script>

    <title>tribeca [{{ env }}]</title>
</head>

<script type="text/ng-template" id="market_display.html">
    <table class="table table-hover table-bordered table-condensed">
        <tr class="active">
            <th></th>
            <th>bidSz</th>
            <th>bidPx</th>
            <th>FV</th>
            <th>askPx</th>
            <th>askSz</th>
        </tr>
        <tr class="info">
            <td>q</td>
            <td>{{ qBidSz|number:2 }}</td>
            <td ng-class="bidClass">{{ qBidPx|number:2 }}</td>
            <td>{{ fairValue|number:2 }}</td>
            <td ng-class="askClass">{{ qAskPx|number:2 }}</td>
            <td>{{ qAskSz|number:2 }}</td>
        </tr>
        <tr class="active" ng-repeat="level in levels">
            <td>mkt{{ $index }}</td>
            <td>{{ level.bidSize|number:2 }}</td>
            <td ng-class="bidClass[$index]">{{ level.bidPrice|number:2 }}</td>
            <td></td>
            <td ng-class="askClass[$index]">{{ level.askPrice|number:2 }}</td>
            <td>{{ level.askSize|number:2 }}</td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="order_form.html">
    <form style="margin: 20px" class="form-horizontal" novalidate role="form">
        <div class="form-group">
            <label>pair</label>
            <select class="form-control input-sm"
                    ng-model="order.pair"
                    ng-options="x as x.displayName for x in order.availablePairs"></select>
        </div>
        <div class="form-group">
            <label>Exchange</label>
            <select class="form-control input-sm" ng-model="order.exchange" ng-options="x for x in order.availableExchanges"></select>
        </div>
        <div class="form-group">
            <label>Side</label>
            <select class="form-control input-sm" ng-model="order.side" ng-options="x for x in order.availableSides"></select>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control input-sm" type="number" ng-model="order.price" />
        </div>
        <div class="form-group">
            <label>Size</label>
            <input class="form-control input-sm" type="number" ng-model="order.quantity" />
        </div>
        <div class="form-group">
            <label>TIF</label>
            <select class="form-control input-sm" ng-model="order.timeInForce" ng-options="x for x in order.availableTifs"></select>
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control input-sm" ng-model="order.orderType" ng-options="x for x in order.availableOrderTypes"></select>
        </div>
        <button type="button"
                class="btn btn-success"
                onclick="$('#order_form').popover('hide');"
                ng-click="order.submitOrder()">Submit</button>
    </form>
</script>

<body>

    <div ng-if="!connected">
        Not connected
    </div>

    <div ng-if="connected">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">tribeca</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button"
                                class="btn btn-primary navbar-btn"
                                id="order_form"
                                mypopover popover-template="order_form.html"
                                data-placement="bottom">Submit order
                        </button>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div ng-repeat="exch in exchanges">
                <div>
                    <div style="padding: 5px" ng-class="exch.connected ? 'bg-success img-rounded' : 'bg-danger img-rounded'">
                        <p><b>{{ exch.name }}</b> :: USD: {{ exch.usdPosition|currency:undefined:3 }}, BTC: {{ exch.btcPosition|currency:"B":3 }}, LTC: {{ exch.ltcPosition|currency:"B":3 }}</p>

                        <div class="row" ng-repeat="pair in exch.pairs">
                            <div class="col-md-1 text-center">
                                <button ng-class="pair.active.getClass()" ng-click="pair.active.submit()">
                                    {{ pair.name }}
                                </button>
                            </div>

                            <div class="col-md-3">
                                <market-quoting-grid exch="pair.exch" pair="pair.pair"></market-quoting-grid>
                            </div>

                            <div class="col-md-4">
                                <market-trade-grid exch="pair.exch" pair="pair.pair"></market-trade-grid>
                            </div>

                            <div class="col-md-1">
                                <form class="form-horizontal" novalidate>
                                    <div class="form-group" ng-class="pair.quotingParameters.pending ? 'has-warning' : 'has-success'">
                                        <div class="input-group">
                                            <div class="input-group-addon">mode</div>
                                            <select class="form-control input-sm"
                                                    ng-model="pair.quotingParameters.display.mode"
                                                    ng-options="x.val as x.str for x in pair.quotingParameters.availableQuotingModes"></select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="pair.quotingParameters.pending ? 'has-warning' : 'has-success'">
                                        <div class="input-group">
                                            <div class="input-group-addon">width</div>
                                            <input class="form-control input-sm"
                                                   type="number"
                                                   onClick="this.select()"
                                                   ng-model="pair.quotingParameters.display.width">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="pair.quotingParameters.pending ? 'has-warning' : 'has-success'">
                                        <div class="input-group">
                                            <div class="input-group-addon">size</div>
                                            <input class="form-control input-sm"
                                                   type="number"
                                                   onClick="this.select()"
                                                   ng-model="pair.quotingParameters.display.size">
                                        </div>
                                    </div>

                                    <input class="btn btn-default btn-xs" type="button" ng-click="pair.quotingParameters.reset()" value="Reset" />
                                    <input class="btn btn-default btn-xs" type="submit" ng-click="pair.quotingParameters.submit()" value="Save" />
                                </form>
                            </div>

                            <div class="col-md-1">
                                <form class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">t/sec</div>
                                            <input ng-class="pair.safetySettings.pending ? 'has-warning form-control input-sm' : 'has-success form-control input-sm'"
                                                   type="number"
                                                   onClick="this.select()"
                                                   ng-model="pair.safetySettings.display.tradesPerMinute">
                                        </div>
                                    </div>

                                    <input class="btn btn-default btn-xs" type="button" ng-click="pair.safetySettings.reset()" value="Reset" />
                                    <input class="btn btn-default btn-xs" type="submit" ng-click="pair.safetySettings.submit()" value="Save" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-controller="OrderListController">
                    <div style="height: 400px" class="table table-striped table-hover table-condensed"
                         ng-grid="gridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>