<!DOCTYPE html>
<html ng-controller="uiCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <style>
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #dff0d8;
}
    </style>

     <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js" data-main="require-config.js"></script>

    <title>tribeca [{{ env }}]</title>
</head>
<body>

<script type="text/ng-template" id="cancel_replace_form.html">
    <form style="margin: 10px" class="form-horizontal" novalidate role="form">
        <div class="form-group">
            <label>Price</label>
            <input class="form-control input-sm" type="number" ng-model="cancel_replace_model.price" />
        </div>
        <div class="form-group">
            <label>Size</label>
            <input class="form-control input-sm" type="number" ng-model="cancel_replace_model.quantity" />
        </div>
        <button type="button"
                class="btn btn-success"
                onclick="$('#cancel_replace_form').popover('hide');"
                ng-click="o.cancelReplace()">Submit</button>
    </form>
</script>

<script type="text/ng-template" id="order_form.html">
    <form style="margin: 20px" class="form-horizontal" novalidate role="form">
        <div class="form-group">
            <label>Exchange</label>
            <select class="form-control input-sm" ng-model="order.exchange" ng-options="v for (k,v) in availableExchanges"></select>
        </div>
        <div class="form-group">
            <label>Side</label>
            <select class="form-control input-sm" ng-model="order.side" ng-options="v for (k,v) in availableSides"></select>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control input-sm" type="number" ng-model="order.price" />
        </div>
        <div class="form-group">
            <label>Size</label>
            <input class="form-control input-sm" type="number" ng-model="order.quantity" />
        </div>
        <div class="form-group">
            <label>TIF</label>
            <select class="form-control input-sm" ng-model="order.timeInForce" ng-options="v for (k,v) in availableTifs"></select>
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control input-sm" ng-model="order.orderType" ng-options="v for (k,v) in availableOrderTypes"></select>
        </div>
        <button type="button"
                class="btn btn-success"
                onclick="$('#order_form').popover('hide');"
                ng-click="submitOrder()">Submit</button>
    </form>
</script>


<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">tribeca</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <button ng-class="active ? 'btn navbar-btn btn-success' : 'btn navbar-btn btn-danger'"
                            ng-click="changeActive()">Active
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button type="button"
                        class="btn btn-primary navbar-btn"
                        id="order_form"
                        mypopover popover-template="order_form.html"
                        data-placement="bottom">Submit order
                </button>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <table class="table table-condensed">
                <tr>
                    <th>exch</th>
                    <th>bSz</th>
                    <th>bPx</th>
                    <th>aPx</th>
                    <th>aSz</th>
                    <th>usd</th>
                    <th>btc</th>
                    <th>val</th>
                </tr>
                <tr ng-repeat="exch in exchanges"
                    ng-class="exch.connected ? 'success' : 'danger'">
                    <td>{{ exch.name }}</td>
                    <td>{{ exch.bidSize|number:2 }}</td>
                    <td>{{ exch.bidPrice|number:2 }}</td>
                    <td>{{ exch.askPrice|number:2 }}</td>
                    <td>{{ exch.askSize|number:2 }}</td>
                    <td>{{ exch.usdPosition | number:3 }}</td>
                    <td>{{ exch.btcPosition | number:3 }}</td>
                    <td>{{ exch.usdValue | number:3 }}</td>
                </tr>
            </table>
            {{ current_result }}
        </div>

        <div class="col-md-9"></div>
    </div>
    <div class="row">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>id</th>
                <th>time</th>
                <th>exch</th>
                <th>status</th>
                <th>price</th>
                <th>qty</th>
                <th>side</th>
                <th>type</th>
                <th>tif</th>
                <th>lat</th>
                <th>lQty</th>
                <th>lPx</th>
                <th>lvQty</th>
                <th>cumQty</th>
                <th>avgPx</th>
                <th>liq</th>
                <th>msg</th>
                <th>ver</th>
                <th>cxl</th>
                <th>c-r</th>
            </tr>
            <tr ng-repeat="o in orders_statuses|orderBy:'-timeSortable'">
                <td bind-once>{{ o.orderId }}</td>
                <td bind-once>{{ o.time }}</td>
                <td bind-once>{{ o.exchange }}</td>
                <td bind-once>{{ o.orderStatus }}</td>
                <td bind-once>{{ o.price|number:2 }}</td>
                <td bind-once>{{ o.quantity|number:4 }}</td>
                <td bind-once>{{ o.side }}</td>
                <td bind-once>{{ o.orderType }}</td>
                <td bind-once>{{ o.timeInForce }}</td>
                <td bind-once>{{ o.computationalLatency }}</td>
                <td bind-once>{{ o.lastQuantity|number:4 }}</td>
                <td bind-once>{{ o.lastPrice|number:2 }}</td>
                <td bind-once>{{ o.leavesQuantity|number:4 }}</td>
                <td bind-once>{{ o.cumQuantity|number:4 }}</td>
                <td bind-once>{{ o.averagePrice|number:2 }}</td>
                <td bind-once>{{ o.liquidity }}</td>
                <td bind-once>{{ o.rejectMessage }}</td>
                <td bind-once>{{ o.version }}</td>
                <td>
                    <button type="button"
                            class="btn btn-danger btn-xs"
                            ng-click="o.cancel()"><span class="glyphicon glyphicon-remove"></span></button></td>
                <td>
                    <button type="button"
                            class="btn btn-warning btn-xs"
                            mypopover popover-template="cancel_replace_form.html"
                            id="cancel_replace_form"
                            data-placement="left"><span class="glyphicon glyphicon-refresh"></span></button></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>